
/* Input Container */
.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 5px 10px;
    gap: 10px; /* 10px margin between elements */
    margin: auto; /* Center alignment */
    box-sizing: border-box;
}

/* Message Bar - Same height as Send Bar */
.message-bar {
    display: flex;
    align-items: center;
    background-color: var(--background-color-user);
    color: var(--text-color);
    padding: 0 18px; /* Horizontal padding only */
    height: var(--input-height);
    border-radius: 30px;
    flex-grow: 1;
    margin: 0 5px; /* 10px margin on the left and right */
}

/* Input Field */
.input-field {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    width: 100%;
    padding: 0;
    font-size: 16px;
    outline: none;
    overflow-x: auto; /* Prevent text overflow */
}

/* Send Bar - Same height and size as Message Bar */
.send-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--input-height);
    height: var(--input-height);
    background-color: #44483D;
    color: var(--text-color);
    border: none;
    border-radius: 50%; 
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 3px;
    margin-right: 7px; 
}

/* Send Bar Hover Effect */
.send-bar:hover {
    background-color: #666;
}

/* Attach Button */
.attach-button {
    margin-left: 4px;
}


/* Icon Button */
.icon-button {
    background: none;
    border: none;
    font-size: 22px;
    color: inherit;
    display: flex;
    align-items: center;
}

/* Input Icons */
.plus-icon,
.mic-icon,
.send-icon {
    font-size: 22px;
}

.plus-icon {
    margin-right: 5px;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* For iOS smooth scrolling */
}


/* Animation Classes */
.fadeIn {
    animation: fadeIn var(--fadeIn-duration) forwards;
}

.fadeInImage {
    animation: fadeIn var(--fadeInImage-duration) forwards;
}

.fadeInButton {
    animation: fadeIn var(--fadeInButton-duration) forwards;
}

.fadeInInput {
    animation: fadeIn var(--fadeInInput-duration) forwards;
}

/* Dot Blink Animation */
@keyframes dot-blink {
    0% { content: ""; }
    25% { content: "•"; }
    50% { content: "••"; }
    75% { content: "•••"; }
    100% { content: "••••"; }
}

.loading::after {
    color: #666;
    font-size: 23px;
    content: "";
    animation: dot-blink 2s steps(4, end) infinite;
}
