
/* Input Container */
.input-container {
  /*  position: relative;
    bottom: 0;
    width: 100vw;
    justify-content: space-between;*/
    display: flex;
    align-items: center;

}

/* Message Bar */
.message-bar {
    display: flex;
    align-items: center;
    color: #999;
    border-radius: 25px;
    background-color: #222222;
    padding: 7px 25px; /* Left padding for space */
    width: 100%;
    box-sizing: border-box;
}

/* Send Bar */
.send-bar {
    display: flex;
    align-items: center;
    padding: 7px 5px; /* Left padding for space */
    width: 100%;
    box-sizing: border-box;
    justify-content: center; /* Center icon inside the circle */
    color: #222;
    background-color: #fff;
    border-radius: 50%; /* Make it circular */

}



  
  
  
  
  
  
  
/*/*/ 
/* Input Field */
.input-field {
    font-family: 'metropolis', sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
    color: inherit;
    background-color: transparent;
    padding: 4px;
    width: 100%;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

/* Icon Button */
.icon-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #D8D8D8;
    display: flex;
    align-items: center;
    padding: 3px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .welcome-section {
        margin-top: 50px;
        font-size: 14px;
    }

    .help-title {
        font-size: 16px;
    }

    .help-button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .message-bar {
        width: 70%;
    }

    .send-bar {
        width: 25%;
    }

    .input-field {
        font-size: 13px;
    }

    .new-chat-button {
        top: 5px;
        left: 5px;
        font-size: 12px;
    }

    .bot-image {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .welcome-section {
        margin-top: 30px;
        font-size: 12px;
    }

    .help-title {
        font-size: 14px;
    }

    .help-button {
        font-size: 13px;
        padding: 5px 10px;
    }

    .message-bar {
        width: 60%;
    }

    .send-bar {
        width: 30%;
    }

    .input-field {
        font-size: 12px;
    }

    .new-chat-button {
        top: 3px;
        left: 3px;
        font-size: 10px;
    }

    .bot-image {
        width: 70px;
        height: 70px;
    }
}







/* Message Styling */
.message {
    font-size: 13px;
    font-family: 'metropolis', sans-serif;
    padding: 13px;
    border-radius: 18px;
    margin: 4px 0;
    animation: slideIn 0.5s forwards;
    transition: background-color 0.3s, box-shadow 0.2s;
    will-change: transform, opacity;
}

.message.user {
    text-align: right;
    align-self: flex-end;
    background-color: #1F1F1F;
    color: #888  ;
    tabindex: 0;
}

.message.bot {
    display: flex;
    text-align: justify;
    align-items: center;
    align-self: flex-start;
    background-color: #0D0D0D;
    color: #888;
}

.bot-chat-image {
    width: 5px;
    height: 5px;
    border-radius: 0%;
    margin-right: 10px;
}

.message.user:hover, .message.bot:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.message.user:focus, .message.bot:focus {
    outline: 2px dashed #fff;
    outline-offset: 24px;
}


.attach-button {
    margin-left: 4px;
    margin-right: 4px;
}

.send-button {
    margin-left: 4px;
    color: #000;
}



/* Animation Keyframes */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Animation Classes */
:root {
    --fadeIn-duration: 1s;
    --fadeInImage-duration: 0.8s;
    --fadeInButton-duration: 0.5s;
    --fadeInInput-duration: 1s;
}

.fadeIn {
    animation: fadeIn var(--fadeIn-duration) forwards;
}

.fadeInImage {
    animation: fadeIn var(--fadeInImage-duration) forwards;
}

.fadeInButton {
    animation: fadeIn var(--fadeInButton-duration) forwards;
}

.fadeInInput {
    animation: fadeIn var(--fadeInInput-duration) forwards;
}

/* Animación de los puntos */
@keyframes dot-blink {
    0% {
        content: "";
    }
    25% {
        content: "•";
    }
    50% {
        content: "••";
    }
    75% {
        content: "•••";
    }
    100% {
        content: "••••";
    }
}

.loading::after {
    color: #666;
    font-size: 23px;
    content: ""; 
    animation: dot-blink 2s steps(5, end) infinite;
}


.message strong {
    font-weight: bold;
}

.message em {
    font-style: italic;
}

.message del {
    text-decoration: line-through;
}

.message code {
    background-color: #444;
    color: #DBDBDB;
    padding: 0.3px 3px;
    border-radius: 2px;
    font-family: monospace;
}
