
/* Media Queries */

/* Tablets and small screens */
@media (max-width: 768px) {
    .container {
        max-width: 90%; /* Reduce container width */
    }

    .welcome-section {
        margin-top: 70px;
    }


/* Mobile Devices */
@media (max-width: 480px) {
    .container {
        max-width: 100%; /* Full-width for mobile */
    }

    .welcome-section {
        margin-top: 80px;
    }


    #responseOutput {
        font-size: 9px;
    }

}
