/* Footer Animation */
footer {
    background-color: var(--background-color-dark);
    opacity: 0;
    transform: translateY(20px); /* Moves out of view downward */
    transition: opacity 0.5s var(--animation-ease), transform 0.5s var(--animation-ease);
}

footer.footer-animate {
    opacity: 1;
    transform: translateY(0);
}

/* Flex Container Styles (Input Container, Message Bar, and Send Bar) */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--background-color-light);
    border-radius: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-bar {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    background-color: #2A2E35;
}

.input-field {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #FFF;
    width: 100%;
    padding: 4px 8px;
}

.input-field::placeholder {
    color: #777;
    opacity: 0.8;
}

.icon-button {
    background: none;
    border: none;
    font-size: 22px;
    color: #FFF;
    z-index: 9999;
}

/* Send Bar */
.send-bar {
    width: 48px;
    height: 48px;
    background-color: #192417;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.send-bar:hover {
    background-color: #151A15;
}

/* Caption */
.caption {
    text-align: center;
    font-size: 0.75em;
    color: #555;
}

.caption a {
    color: #B1D6AA;
    text-decoration: none;
}

/* Response Output */
#responseOutput {
    margin-top: 8px;
    color: #FF5587;
}

/* Conversation Animation */
#conversation {
    transition: margin-top 0.3s ease, transform 0.3s ease;
}
